body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  overflow: hidden;
  background-color: rgb(48, 53, 53);
}

ul {
  list-style: none;
  padding: 0;
}

.titleBox {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.titleBox * {
  margin: 0;
  padding: 10px 0;
}

.titleBox > h1 {
  font-size: 36px;
}

.titleBox > h2 {
  font-size: 20px;
}

.clearModal {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  color: #fff;
  font-size: 50px;
}

button {
  padding: 0.5rem 1rem;
  color: #fff;
  background: salmon;
  border: none;
  cursor: pointer;
  margin: 5px 0;
}

.gameBoard > ul {
  margin: 0 auto;
}

.gameBoard > ul > li {
  width: 100%;
}

.gameBoard > ul > li > ul {
  display: flex;
}

.gameBoard > ul > li > ul > li {
  outline: 1px solid #ccc;
}

.open {
  background-color: greenyellow;
}

.close {
  background: dimgray;
}

.open_hover {
  background-color: rgba(170, 170, 170, 0.8);
}

.close_hover {
  background-color: rgba(200, 255, 120, 0.8);
}
